# Entorno virtual
.env
venv/

# static
node_modules

# Ignorar la carpeta de migraciones de Django
migrations

# Ignorar todas las carpetas __pycache__ en cualquier nivel
__pycache__/

# Ignorar las imagenes subidas por el usuario
uploads

# Ignorar archivos compilados de Python
*.pyc
*.pyo
*.pyd
config_local
config_local.py
static/dist/output.css 
static/dist/output.css 
