<!-- templates/categoria/crear.html -->
{% extends "layout.html" %}
{% from "macros/forms.html" import render_input, form_buttons %}
{% from "macros/utiles.html" import breadcrumbs %}

{% block container %}

{{ breadcrumbs([
    {'label': 'Clientes', 'url': url_for('cliente.lista')},
    {'label': 'Crear Cliente', 'url': None}
]) }}


<div class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow-lg max-w-lg mx-auto">

<form method="POST">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {{ render_input(form.nombre) }}
    {{ render_input(form.correo) }}
    {{ render_input(form.contrasenia) }}
    {{ render_input(form.telefono) }}
    {{ render_input(form.direccion) }}
        
    {{ form_buttons(url_for('cliente.lista')) }}

</form>

</div>

{% endblock %}